<meta charset="UTF-8">
<meta name="description" content="{{ $page->description or $site->description }}">

<title> {{ $page->title or $site->title }} </title>

<link href="{{ asset("global.css") }}" rel="stylesheet">