<div id="{{ $slot->id }}" class="modal">
    <div class="modal-dialog">
        <div class="modal-header">
            <a href="#" class="close"></a>

            <h3 class="modal-title">
                {{ $slot->title }}
            </h3>
        </div>

        <div class="modal-body">
            {!! $slot->content !!}
        </div>
    </div>
</div>