<?php

/**
 * Doesn't do anything - used for testing and examples.
 * 
 * Could be used to auto-populate a path to an asset 
 * based on it's saved path specified in a manifest 
 * file or some other resource pipeline solution.
 *
 * @return string
 */
function asset ($filename = "") {
    return "/assets/$filename";
}